controller:
  kind: DaemonSet
  
  reportNodeInternalIp: true

  hostPort:
    enabled: true
    ports:
      http: 80
      https: 443

  metrics:
    enabled: true
    service:
      enabled: true       

  service:
    type: NodePort